/* this is for loginpage: editing by juna */

:root{

  /* Color */
  --primary-green: #1B4420;
  --secondary-green: #52B788;
  --accent-orange: #F4A826;
  --bg-main: #F7F6F2;
  --bg-card: #FFFFFF;
  --bg-login-card: #F7F6F2;
  --text-black: #1C1C1A;
  --text-gray: #6B6B6B;

  /* Typography */
  --font-heading: 'DM Sans', sans-serif;
  --font-body: 'Work Sans', sans-serif;
  --font-data: 'Roboto Mono', monospace;

  /* Font weight */
  --fw-500: 500;
  --fw-700: 700;
}

*, *:before, *:after{
    box-sizing: border-box;
    padding:0;
    margin:0;

}


body {
  min-height: 100vh;
  background-color: var(--primary-green);
  font-family: var(--font-body);
}

.auth-section {
  width: 100%;
  min-height: 100vh;
  /* Flexbox is used to centre the login card horizontally and vertically inside the login section */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auth-card {
  width: 360px;
  background-color: var(--bg-login-card);
  border-radius: 12px;
  padding: 32px 36px;
  text-align: center;
  box-shadow: #6B6B6B;
}

.logo {
  margin-bottom: 20px;
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: var(--fw-700);
  color: var(--primary-green);
  /* Flexbox is used to align the logo icon and text(“Smart Energy”) horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 18px;
  height: 18px;
  object-fit: contain;  /* Keeps the logo image aspect ratio within the fixed size */
}

h1 {
  font-family: var(--font-heading);
  font-size: 18px;
  color: var(--primary-green);
  margin-bottom: 4px;
  font-weight: var(--fw-700);
}

.subtitle {
  font-family: var(--font-body);
  color: var(--text-gray);
  font-size: 13px;
  margin-bottom: 18px;
}

.formrow {
  margin-bottom: 10px;
}

.formel {
  /* Arranges the label and input vertically */
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Aligns the form elements to the left */
}

label {
  font-family: var(--font-body);
  color: var(--primary-green);
  font-size: 12px;
  font-weight: var(--fw-500);
  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 9px 12px;

  border: 1px solid #ccc;
  border-radius: 6px;

  font-family: var(--font-body);
  font-size: 14px;
  outline: none;
  background-color: white;
}

input:focus {
  border-color: var(--secondary-green);
}

input::placeholder {
  color: var(--text-gray);
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-green);
  color: var(--bg-login-card);
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: var(--fw-500);
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #265a2e;
}

.signup-link {
  font-family: var(--font-body);
  font-size: 13px;
  color: var(--text-gray);
}

.signup-link a {
  margin-left: 4px;
  color: var(--primary-green);
  font-weight: var(--fw-500);
}